<div
  grey
  [backgroundColor]="'coral'"
  grey
  [textTransform]="'capitalize'"
  grey
  [color]="'white'"
  grey
  [display]="'flex'"
  grey
  [justifyContent]="'space-between'"
  grey
  [padding]="'40px'"
  grey
  [fontSize]="'18px'"
  grey
  [fontWeight]="'700'"
>
  <div class="logo">
    <a>Logo</a>
  </div>
  <div grey [display]="'flex'" grey [gap]="'30px'">
    <a
      grey
      [color]="'white'"
      grey
      [textDecoration]="'none'"
      routerLink=""
      routerLinkActive="active"
      *ngIf="!authService.isLoggedin"
      [routerLinkActiveOptions]="{ exact: true }"
      >Welcome to The Jitu School</a
    >
    <a
      grey
      [color]="'white'"
      grey
      [textDecoration]="'none'"
      routerLink="student"
      routerLinkActive="active"
      *ngIf="authService.isLoggedin"
      >TheJitu School</a
    >
    <a
      grey
      [color]="'white'"
      grey
      [textDecoration]="'none'"
      routerLink="student"
      routerLinkActive="active"
      *ngIf="authService.isLoggedin"
      >Students</a
    >
  </div>
  <div grey [display]="'flex'" grey [gap]="'30px'">
    <a
      grey
      [color]="'white'"
      grey
      [textDecoration]="'none'"
      routerLink="login"
      routerLinkActive="active"
      *ngIf="!authService.isLoggedin"
      >Login</a
    >
    <a
      grey
      [color]="'white'"
      grey
      [textDecoration]="'none'"
      (click)="onLogout()"
      *ngIf="authService.isLoggedin"
      >Logout</a
    >
  </div>
</div>
<router-outlet></router-outlet>
