<div
  [ngStyle]="{
    backgroundColor: 'coral',
    color: '#fff',
    display: 'flex',
    justifyContent: 'space-between',
    padding: '40px',
    fontSize: '18px',
    fontWeight: '700',
    textTransform: 'capitalize'
  }"
>
  <div class="logo">
    <a>Logo</a>
  </div>
  <div
    [ngStyle]="{
      display: 'flex',
      gap: '30px'
    }"
  >
    <a
      [ngStyle]="{
        color: '#fff',
        textDecoration: 'none'
      }"
      routerLink=""
      routerLinkActive="active"
      *ngIf="!authService.isLoggedin"
      [routerLinkActiveOptions]="{ exact: true }"
      >Welcome to The Jitu School</a
    >
    <a
      [ngStyle]="{
        color: '#fff',
        textDecoration: 'none'
      }"
      routerLink="student"
      routerLinkActive="active"
      *ngIf="authService.isLoggedin"
      >TheJitu School</a
    >
    <a
      [ngStyle]="{
        color: '#fff',
        textDecoration: 'none'
      }"
      routerLink="student"
      routerLinkActive="active"
      *ngIf="authService.isLoggedin"
      >Students</a
    >
  </div>
  <div
    [ngStyle]="{
      display: 'flex',
      gap: '30px'
    }"
  >
    <a
      [ngStyle]="{
        color: '#fff',
        textDecoration: 'none'
      }"
      routerLink="login"
      routerLinkActive="active"
      *ngIf="!authService.isLoggedin"
      >Login</a
    >
    <a
      [ngStyle]="{
        color: '#fff',
        textDecoration: 'none'
      }"
      (click)="onLogout()"
      *ngIf="authService.isLoggedin"
      >Logout</a
    >
  </div>
</div>
<router-outlet></router-outlet>
