.container{
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    font-size: 18px;
}
.buttons{
    border: 1px solid #000;
    padding: 70px;
}
.students{
    border: 1px solid #000;
    padding: 50px;
    width: 300px;
    background-color: coral;
    color: #fff;
}
.card{
    border-radius: 5px;
    background-color: white;
    color: coral;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
}
.showBtns{
    border: 1px solid #000;
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
    color: #000;
}
.showBtns a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}