
<div class="container">
    <div class="buttons" >
        <div class="showBtns"
        [routerLink]="['/student']"
        >
            <a>Show all students</a>
        </div>
        <div class="showBtns">
            <a [routerLink]="['balance']">Students with balance</a>
        </div>
        <div class="showBtns">
            <a [routerLink]="['/shownobalance']">Student w/o balance</a>
        </div>
      
    </div>
    <div class="students" *ngIf="students.length;">
      <div class="card"   *ngFor="let student of students">
        <p><strong>{{student.name}} </strong> <br>Balance: {{student.balance}}</p>
        <div *ngIf="student.balance !==0">
            <router-outlet></router-outlet>
        </div>
    </div>
   
    </div>
   
</div>
