<div class="container">
  <div class="buttons">
    <div class="showBtns" >
      <a (click)="showAll()">Show all students</a>
    </div>
    <div class="showBtns">
      <a (click)="showBalance()">Students with balance</a>
    </div>
    <div class="showBtns">
      <a (click)="shownoBalance()">Student w/o balance</a>
    </div>
    <div class="showBtns">
      <a (click)="addStudent()">Add Student</a>
    </div>
  </div>
  

  <!-- <div class="students" *ngIf="students.length">

    <div class="card" *ngFor="let student of students">
        
      <p>
        <strong>{{ student.name }} </strong> <br />Balance:
        {{ student.balance }}
        
      </p>
     
    </div>
  
  </div> -->
  <div ><router-outlet></router-outlet></div>
  

</div>

